@charset "UTF-8";

.words:before {
  content: '正规';
}

@media screen and (min-width: 1024px) {
  .words:before {
    content: '常用';
    -moz-content: 'BAR';
  }
  .words:before {
    /* ziti { 样式 } */
    content: '非标准'
    ;content: '};';
    content: '标'        "准"
    '的' s '非' ;
    -webkit-content: 'FOO';
  }
}
